# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.TNTU-API.iml
# Datasource local storage ignored files
/../../../../../../../:\Projects\Web\TNTU-API\.idea\.idea.TNTU-API\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
