# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.TNTU-Web.iml
# Datasource local storage ignored files
/../../../../../../../:\Projects\Web\TNTU-Web\.idea\.idea.TNTU-Web\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
